@supports ((animation-timeline: scroll()) and (animation-range: 0% 100%)) {


    @keyframes fade-in {
        from {
          opacity: 0;
          translate: 0px -45%;
          clip-path: inset(100% 100% 0 0);
        }
        to {
            translate: 0px 0px;
            opacity: 1;
            clip-path: inset(0 0 0 0);
        }
      }

}

.sec-article-card{
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry 0% entry 80%;
}