@supports ((animation-timeline: scroll()) and (animation-range: 0% 100%)) {
  @keyframes slide-in-left {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .dropdown-div {
    place-self: center;
    animation: slide-in-left linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
  }

  .dropdown-div:nth-child(1) {
    animation-delay: 0.5s;
  }
  .dropdown-div:nth-child(2) {
    animation-delay: 1s;
  }
  .dropdown-div:nth-child(3) {
    animation-delay: 1.5s;
  }
}

.dropdown-div {
  place-self: center;
  box-shadow: 5px 5px 10px rgba(0, 1, 1, 0.2);
}
