@supports ((animation-timeline: scroll()) and (animation-range: 0% 100%)) {

    @keyframes slide-in-left {
        from {
          opacity: 0;
          transform: translateX(-100%);
        }
        to {
          opacity: 1;
          transform: translateX(0px);
        }
      }
      @keyframes slide-in-right {
        from {
          opacity: 0;
          transform: translateX(100%);
        }
        to {
          opacity: 1;
          transform: translateX(0px);
        }
      }
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
    color: white;
}
section a{
    border-bottom: 1px solid white;
}
section h1{
    text-align: center;
    margin: 60px 0 20px 0;
}
h2{
    font-size: 30px;
    color: rgb(199, 199, 199);
    margin-top: 25px;
    margin-bottom: 15px;
}
code{
    display: block;
    width: fit-content;
    max-width: 100%;
}
.signature-info{
    text-align: center;
    margin: 10px 0 15px 0;
}
.signature-info p{
    margin-bottom: 10px;
    margin-top: 10px;
}
p strong{
    font-size: 25px;
}
section p{
    font-size: 20px;
    margin-bottom: 8px;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
.project-image img{
    border-radius: 10px;
}
.project-image strong{
    display: flex;
    justify-content: center;
}
.text-to-copy{
    display: flex;
    margin-top: 20px;
    flex-direction:  column ;
    padding: 10px;
}
.text-to-copy button{
    place-self: end;
}
pre{
    background-color: rgb(199, 199, 199);
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    max-width: 100%;
}

.owasp-section{
    border: 1px solid rgb(199, 199, 199);
    border-radius: 10px;
    padding: 10px 35px 10px 35px;
    margin-top: 30px;
}

.row-list {
	list-style: none;
	counter-reset: list;
	padding: 0 1rem;
    color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.row-list li {
    position: relative;
	counter-increment: list;
	max-width: 45rem;
	margin: 2rem auto;
	padding: 2rem 1rem 1rem;
	box-shadow: 0.1rem 0.1rem 1.5rem rgba(104, 104, 104, 0.605);
	border-radius: 0.25rem;
	overflow: hidden;
	background-color: rgb(255, 255, 255);
}
.row-list li:hover{
    scale: 1.1;
}
.row-list li::before {
	content: '';
	display: block;
	width: 100%;
	height: 1.5rem;
	position: absolute;
	top: 0;
	left: 0;
    background: linear-gradient(to right, rgb(86, 170, 153), rgba(0, 0, 0, 0.3));
}
.row-list h3 {
	display: flex;
	align-items: baseline;
	margin: 0 0 1rem;
	font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: rgb(16, 25, 33);
}

.row-list h3::before {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	margin-right: 1rem;
	width: 3rem;
	height: 3rem;
	content: counter(list);
	padding: 1rem;
	border-radius: 50%;
	background-color: rgb(16, 25, 33);
	color: white;
}

.col-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: white;
    width: 40%;
    place-self: center;
    gap:10px;
    padding: 10px;
}
.col-list li{
    width: 100%;
    padding: 5px 20px 5px 20px;
}
.col-list li:nth-child(odd) {
    background: rgb(225, 255, 249);
}
.col-list li:nth-child(even) {
    background: rgb(174, 228, 250);
}

.phases-div .phase{
    width: 90%;
    border-radius: 15px;
    border: 1px solid rgb(199, 199, 199);
    margin: 30px 0 20px 0;
    padding: 10px 25px 20px 25px;
    place-self: center;

}

.phase:nth-child(odd){
    animation: slide-in-right linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}
.phase:nth-child(even){
    animation: slide-in-left linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

.phase{
    /* animation: slide-in-right linear forwards; */
   
}



.phase ul{
    margin-bottom: 20px;
}
.phase ul li{
    margin-bottom: 10px;
}
.phase p{
    font-size: large;
}

@media screen and (max-width: 849px){
    .col-list{
        width: 100%;
    }
    .row-list{
        width: 100%;
        padding: 0px;
    }
    .row-list li {
        width: 100%;
    }
    .phases-div .phase{
        width: 100%;
    }
    img{
        width: 100%;
    }
    
}
@media screen and (min-width: 850px){
    .col-list{
        width: 40%;
    }
    .row-list{
        width: 100%;
        padding: 0px;
    }
    .row-list li {
        width: 40%;
    }
    .phases-div .phase{
        width: 90%;
    }
    img{
        width: 50%;
    }
    
}