@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  height: 100%;
  background-color: rgb(16, 25, 33) !important;
}

.header-div{
  color: white;
}

#content-container {
  color: white;
}

.section-div {
  height: 150px;
  /* background-color: rgb(25, 23, 23); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

::-webkit-scrollbar {
  opacity: 0;
  width: 0;
  display: none;
  background-color: transparent;
}
html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;
}
